.callbacks_container
	ul#a-la-postre.rslides
		li
			p.top-caption A La Postre / Diseño de logo
			#comparison-13
				figure
					#divisor13
				input(type="range", min="0", max="100", value="50", id="slider13", oninput="moveDivisor()")
		li
			p.top-caption A La Postre / Diseño cajas y aviso.
			img(src="img/carousel/14A-La-Postre/Alapostre-02.jpg")
			p.bottom-caption Diseño e ilustración: Inku
		li
			p.top-caption A La Postre / Aplicación aviso / Carta
			img(src="img/carousel/14A-La-Postre/Alapostre-03.jpg")
			p.bottom-caption Diseño e ilustración: Inku - Foto fachada: Cortesía A la poste.