.callbacks_container
	ul#areandina.rslides
		li
			p.top-caption Areandina / Detalle de ilustraciones
			img(src="img/carousel/05Areandina/areandina-01.jpg")
			p.bottom-caption Cliente: Areandina - Secretaria de salud / Ilustración, diseño y diagramación: Inku
		li
			p.top-caption Areandina / Detalle de ilustraciones
			img(src="img/carousel/05Areandina/cartilla-02.jpg")
			p.bottom-caption Cliente: Areandina - Secretaria de salud / Ilustración, diseño y diagramación: Inku
		li
			p.top-caption Areandina / Diseño de portadas
			img(src="img/carousel/05Areandina/cartilla-03.jpg")
			p.bottom-caption Cliente: Areandina - Secretaria de salud / Ilustración, diseño y diagramación: Inku
	