.callbacks_container
	ul#artist-mecca.rslides
		li
			p.top-caption Artist Mecca / Diseño de logo
			img(src="img/carousel/11Artist-Mecca/Artist-Mecca-01.jpg")
			p.bottom-caption Ilustración, diseño y diagramación: Inku
		li
			p.top-caption Artist Mecca / Diseño de logo
			img(src="img/carousel/11Artist-Mecca/Artist-Mecca-02.jpg")
			p.bottom-caption Ilustración, diseño y diagramación: Inku
		li
			p.top-caption Artist Mecca / Diseño de logo
			img(src="img/carousel/11Artist-Mecca/Artist-Mecca-03.jpg")
			p.bottom-caption Ilustración, diseño y diagramación: Inku
		li
			p.top-caption Artist Mecca / Diseño de logo
			img(src="img/carousel/11Artist-Mecca/Artist-Mecca-04.jpg")
			p.bottom-caption Ilustración, diseño y diagramación: Inku			
