.callbacks_container
	ul#bodytech.rslides
		li
			p.top-caption Bodytech #LoMejorDeMi / Postproducción
			img(src="img/carousel/03Bodytech/Body-01.jpg")
			p.bottom-caption Fotos: Camilo Rozo - Postproducción: Inku- Cliente: Bodytech Colombia / Perú
		li
			p.top-caption Bodytech #LoMejorDeMi / Postproducción
			img(src="img/carousel/03Bodytech/Body-02.jpg")
			p.bottom-caption Fotos: Camilo Rozo - Postproducción: Inku- Cliente: Bodytech Colombia / Perú
		li
			p.top-caption Bodytech #LoMejorDeMi / Postproducción
			img(src="img/carousel/03Bodytech/Body-03.jpg")
			p.bottom-caption Fotos: Camilo Rozo - Postproducción: Inku- Cliente: Bodytech Colombia / Perú