.callbacks_container
	ul#hacienda-santa-ana.rslides
		li
			p.top-caption Logo Hacienda Santa Anaducción
			img(src="img/carousel/04SantaAna/Santa-Ana-01.jpg")
			p.bottom-caption Creación de branding - Cliente: Hacienda Santa Ana
		li
			p.top-caption Logo Hacienda Santa Anaducción
			img(src="img/carousel/04SantaAna/Santa-Ana-02.jpg")
			p.bottom-caption Creación de branding - Cliente: Hacienda Santa Ana
		li
			p.top-caption Logo Hacienda Santa Anaducción
			img(src="img/carousel/04SantaAna/Santa-Ana-03.jpg")
			p.bottom-caption Creación de branding - Cliente: Hacienda Santa Ana
		li
			p.top-caption Logo Hacienda Santa Anaducción
			img(src="img/carousel/04SantaAna/Santa-Ana-04.jpg")
			p.bottom-caption Creación de branding - Cliente: Hacienda Santa Ana
	