.callbacks_container
	ul#helena-caballero.rslides
		li
			p.top-caption Helena Caballero / Diseño de logo / Web
			img(src="img/carousel/15Helena-Caballero/helena-Caballero-01.jpg")
			p.bottom-caption Diseño y diagramación: Inku
		li
			p.top-caption Helena Caballero / Diseño de logo / Web
			img(src="img/carousel/15Helena-Caballero/helena-Caballero-02.jpg")
			p.bottom-caption Diseño y diagramación: Inku
		li
			p.top-caption Helena Caballero / Diseño de logo / Web
			img(src="img/carousel/15Helena-Caballero/helena-Caballero-03.jpg")
			p.bottom-caption Diseño y diagramación: Inku
		li
			p.top-caption Helena Caballero / Diseño de logo / Web
			img(src="img/carousel/15Helena-Caballero/helena-Caballero-04.jpg")
			p.bottom-caption Diseño y diagramación: Inku
		li
			p.top-caption Helena Caballero / Logo
			img(src="img/carousel/15Helena-Caballero/helena-Caballero-05.jpg")
			p.bottom-caption Diseño y diagramación: Inku				
