.callbacks_container
	ul#hospital-universitario.rslides
		li
			.video-container
				p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
				iframe#video-hospital(src="https://www.youtube.com/embed/i-3izH2xrWM", frameborder="0", allowfullscreen)		
