.callbacks_container
	ul#laura-maquina.rslides
		li
			p.top-caption Laura y la máquina de escribir
			img(src="img/carousel/16Laura-y-la-maquina-de-escribir/laura-y-la-mde-01.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption Laura y la máquina de escribir
			img(src="img/carousel/16Laura-y-la-maquina-de-escribir/laura-y-la-mde-02.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption Laura y la máquina de escribir
			img(src="img/carousel/16Laura-y-la-maquina-de-escribir/laura-y-la-mde-03.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption Laura y la máquina de escribir
			img(src="img/carousel/16Laura-y-la-maquina-de-escribir/laura-y-la-mde-04.jpg")
			p.bottom-caption Fotografía: Inku			

