.callbacks_container
	ul#libro-hambre.rslides
		li
			p.top-caption Libro «Hambre» de Fabio Polanco
			img(src="img/carousel/02Hambre/Hambre-01.jpg")
			p.bottom-caption Fotos: Juan Pablo Polanco - Postproducción, Diseño y diagramación: Inku	
		li
			p.top-caption Libro «Hambre» de Fabio Polanco
			img(src="img/carousel/02Hambre/Hambre-02.jpg")
			p.bottom-caption Fotos: Juan Pablo Polanco - Postproducción, Diseño y diagramación: Inku	
		li
			p.top-caption Libro «Hambre» de Fabio Polanco
			img(src="img/carousel/02Hambre/Hambre-03.jpg")
			p.bottom-caption Fotos: Juan Pablo Polanco - Postproducción, Diseño y diagramación: Inku	
		li
			p.top-caption Libro «Hambre» de Fabio Polanco
			img(src="img/carousel/02Hambre/Hambre-04.jpg")
			p.bottom-caption Fotos: Juan Pablo Polanco - Postproducción, Diseño y diagramación: Inku	
	
	