.callbacks_container
	ul#pinturas-corona.rslides
		li
			p.top-caption Pinturas Corona / Fotos Originales
			img(src="img/carousel/06Pinturas-corona/corona-01.jpg")
			p.bottom-caption Cliente: Pinturas Corona / Postproducción, Composición digital e iustración: Inku
		li
			p.top-caption Pinturas Corona / Resultado final
			img(src="img/carousel/06Pinturas-corona/corona-02.jpg")
			p.bottom-caption Cliente: Pinturas Corona / Postproducción, Composición digital e iustración: Inku
		li
			p.top-caption Pinturas Corona / Ilustración digital De empaque
			img(src="img/carousel/06Pinturas-corona/corona-03.jpg")
			p.bottom-caption Cliente: Pinturas Corona / Postproducción, Composición digital e iustración: Inku
		li
			p.top-caption Pinturas Corona / Artes finales
			img(src="img/carousel/06Pinturas-corona/corona-04.jpg")
			p.bottom-caption Cliente: Pinturas Corona / Postproducción, Composición digital e iustración: Inku