.callbacks_container
	ul#postproduccion.rslides
		li
			p.top-caption Procesos de postproducción especializados para fotografos y artistas
			#comparison-14
				figure
					#divisor14
				input(type="range", min="0", max="100", value="50", id="slider14", oninput="moveDivisor()")
		li
			p.top-caption Procesos de postproducción especializados para fotografos y artistas
			#comparison-15
				figure
					#divisor15
				input(type="range", min="0", max="100", value="50", id="slider15", oninput="moveDivisor()")
		li
			p.top-caption Procesos de postproducción especializados para fotografos y artistas
			#comparison-16
				figure
					#divisor16
				input(type="range", min="0", max="100", value="50", id="slider16", oninput="moveDivisor()")
		li
			p.top-caption Procesos de postproducción especializados para fotografos y artistas
			#comparison-17
				figure
					#divisor17
				input(type="range", min="0", max="100", value="50", id="slider17", oninput="moveDivisor()")
		li
			p.top-caption Procesos de postproducción especializados para fotografos y artistas
			#comparison-18
				figure
					#divisor18
				input(type="range", min="0", max="100", value="50", id="slider18", oninput="moveDivisor()")
			