.callbacks_container
	ul#sierra-nevada.rslides
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-1
				figure
					#divisor1
				input(type="range", min="0", max="100", value="50", id="slider1", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-2
				figure
					#divisor2
				input(type="range", min="0", max="100", value="50", id="slider2", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-3
				figure
					#divisor3
				input(type="range", min="0", max="100", value="50", id="slider3", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-4
				figure
					#divisor4
				input(type="range", min="0", max="100", value="50", id="slider4", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-5
				figure
					#divisor5
				input(type="range", min="0", max="100", value="50", id="slider5", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-6
				figure
					#divisor6
				input(type="range", min="0", max="100", value="50", id="slider6", oninput="moveDivisor()")
		li
			p.top-caption Serie de fotos Sierra Nevada / Postproducción - Diseño de color
			#comparison-7
				figure
					#divisor7
				input(type="range", min="0", max="100", value="50", id="slider7", oninput="moveDivisor()")
				