.callbacks_container
	ul#suprema.rslides
		li
			p.top-caption Pan Suprema / Rediseño puntos de venta
			img(src="img/carousel/10Suprema/Suprema-01.jpg")
			p.bottom-caption Diseño Interior - Industrial: Inku
		li
			p.top-caption Pan Suprema / Rediseño puntos de venta / Diseño Fachadas
			img(src="img/carousel/10Suprema/Suprema-02.jpg")
			p.bottom-caption Diseño Interior - Industrial: Inku
		li
			p.top-caption Pan Suprema / Manual de punto de venta
			img(src="img/carousel/10Suprema/Suprema-03.jpg")
			p.bottom-caption Diseño Interior - Industrial: Inku
		li
			p.top-caption Pan Suprema / Resultado
			#comparison-10
				figure
					#divisor10
				input(type="range", min="0", max="100", value="50", id="slider10", oninput="moveDivisor()")
		li
			p.top-caption Pan Suprema / Resultado
			#comparison-11
				figure
					#divisor11
				input(type="range", min="0", max="100", value="50", id="slider11", oninput="moveDivisor()")
			
			
