.callbacks_container
	ul#toshiro.rslides
		li
			p.top-caption Toshiro / Postproducción e ilustración digital
			img(src="img/carousel/09Toshiro/Toshiro-01.jpg")
			p.bottom-caption Resultado final - Fotografía: Jorge Gamboa
		li
			p.top-caption Toshiro / Proceso de postproducción
			#comparison-8
				figure
					#divisor8
				input(type="range", min="0", max="100", value="50", id="slider8", oninput="moveDivisor()")
		li
			p.top-caption Toshiro / Proceso de postproducción
			#comparison-9
				figure
					#divisor9
				input(type="range", min="0", max="100", value="50", id="slider9", oninput="moveDivisor()")
		li
			p.top-caption Toshiro / Aplicación Fachada
			img(src="img/carousel/09Toshiro/Toshiro-04.jpg")
			p.bottom-caption Fotografía: Nicolas Rosas
		li
			p.top-caption Toshiro / Aplicación interior y exterior
			img(src="img/carousel/09Toshiro/Toshiro-05.jpg")
			p.bottom-caption Foto labios: Nicolas Rosas - Foto Puerta: Inku - Foto barra: Cortesía Registraduria Civil.
			