.callbacks_container
	ul#TRL.rslides
		li
			p.top-caption The Record Lovers
			img(src="img/carousel/13TRL/TRL-01.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption The Record Lovers
			img(src="img/carousel/13TRL/TRL-02.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption The Record Lovers
			img(src="img/carousel/13TRL/TRL-03.jpg")
			p.bottom-caption Fotografía: Inku
		li
			p.top-caption The Record Lovers
			img(src="img/carousel/13TRL/TRL-04.jpg")
			p.bottom-caption Fotografía: Inku				