.callbacks_container
	ul#unicentro-navidad.rslides
		li
			p.top-caption Unicentro / Vive tu cuento de navidad / Composición Digital, 3D
			#comparison-12
				figure
					#divisor12
				input(type="range", min="0", max="100", value="50", id="slider12", oninput="moveDivisor()")
		li
			p.top-caption Unicentro / Vive tu cuento de navidad / Composición Digital, 3D
			img(src="img/carousel/12Unicentro-Navidad/Unicentro-navidad-02.jpg")
			p.bottom-caption Foto libro, modelos: Jorge Gamboa - Agencia: Torolove / Composición Digital, 3D: Inku
		li
			p.top-caption Unicentro / Vive tu cuento de navidad / Composición Digital, 3D
			img(src="img/carousel/12Unicentro-Navidad/Unicentro-navidad-03.jpg")
			p.bottom-caption Foto libro, modelos: Jorge Gamboa - Agencia: Torolove / Composición Digital, 3D: Inku
		li
			p.top-caption Unicentro / Vive tu cuento de navidad / Composición Digital, 3D
			img(src="img/carousel/12Unicentro-Navidad/Unicentro-navidad-04.jpg")
			p.bottom-caption Foto libro, modelos: Jorge Gamboa - Agencia: Torolove / Composición Digital, 3D: Inku

