.callbacks_container
	ul#vital-advance.rslides
		li
			p.top-caption Vital Advance Labs / Diseño de logo
			img(src="img/carousel/08Vital-advance-labs/Vital-Advanced-01.jpg")
			p.bottom-caption Cliente: Vital Advance Labs / Diseño e ilustración: Inku
		li
			p.top-caption Vital Advance Labs / Naming / Diseño de logo producto
			img(src="img/carousel/08Vital-advance-labs/Vital-Advanced-02.jpg")
			p.bottom-caption Cliente: Vital Advance Labs / Diseño e ilustración: Inku
		li
			p.top-caption Vital Advance Labs / Diseño de empaque y etiquetas
			img(src="img/carousel/08Vital-advance-labs/Vital-Advanced-03.jpg")
			p.bottom-caption Cliente: Vital Advance Labs / Diseño e ilustración: Inku
		