mixin menu-list
	li: a( href="#" data-filter=".graphic-design") Diseño gráfico
	li: a(href="#" data-filter=".brand") Marca / Identidad
	li: a(href="#" data-filter=".product-design") Diseño Producto / Local
	li: a(href="#" data-filter=".photografy") Fotografía / Postproducción
	li: a(href="#" data-filter=".3D")	3D / CGI
	li: a(href="#" data-filter=".ilustration") Ilustración
	li: a(href="#" data-filter=".video-animation") Video /animación
	li: a(href="#" data-filter=".apps-web")	Desarrollo / apps / Web