doctype html5
html(lang="es")
	head
		title Portafolio Inku
	//Inku template
	include categories.jade
		
	meta(charset="utf-8") 
	//content is optimized for mobile
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet",type="text/css",href="css/style.css")
	link(rel="stylesheet",type="text/css",href="css/portfolio.css")
	link(rel="stylesheet",type="text/css",href="css/overflow-image.css")
	link(rel="stylesheet", type="text/css", href="css/before-after.css")
	link(rel="stylesheet", type="text/css" href="css/slider.css")		
	link(rel="stylesheet",type="text/css",href="css/responsiveslides.css")
	link(rel="stylesheet",type="text/css",href="css/remodal.css")
	link(rel="stylesheet",type="text/css",href="css/remodal-default-theme.css")

	//Google fonts
	link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900")
	//Font Awesome
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	//Import materialize.css
	link(type="text/css", rel="stylesheet", href="bower_components/materialize/dist/css/materialize.css", media="screen,projection")
	link(type="text/css", rel="stylesheet", href="bower_components/materialize/dist/css/materialize.min.css", media="screen,projection")
	
	//Favicon
	link(href="img/filter-icon.png" rel="icon" type="image/x-icon")

	body
		//Header
		include header.jade
		
		//Gallery	
		include portfolio.jade

		//Modals
		include modals.jade
		
		//FOOTER		
		footer.page-footer
			.footer-copyright
				.container ©2015 INKU. OTRO PROYECTO INKU CODEX


		
		//bower:js
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="bower_components/materialize/dist/js/materialize.js")
		script(src="bower_components/materialize/dist/js/materialize.min.js")
		script(src="bower_components/isotope/dist/isotope.pkgd.js")		
		
		//js
		script(src="js/main.js")		
		script(src="js/remodal.min.js")
		script(src="js/before-after.js")		
		script(src="js/responsiveslides.min.js")