.remodal-lg
	//Hospital Universitario
	.remodal(data-remodal-id="modal1")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/hospital-universitario.jade
	//Libro Hambre	
	.remodal(data-remodal-id="modal2")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/libro-hambre.jade	
	//Bodytech	
	.remodal(data-remodal-id="modal3")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/bodytech.jade	
	//Hacienda Santa Ana	
	.remodal(data-remodal-id="modal4")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/hacienda-santa-ana.jade
	//Areandina	
	.remodal(data-remodal-id="modal5")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/areandina.jade
	//Pinturas Corona	
	.remodal(data-remodal-id="modal6")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/pinturas-corona.jade
	//Sierra Nevada	
	.remodal(data-remodal-id="modal7")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/sierra-nevada.jade
	//Vital Advance Labs	
	.remodal(data-remodal-id="modal8")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/vital-advance-labs.jade
	//Toshiro	
	.remodal(data-remodal-id="modal9")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/toshiro.jade
	//Panaderia Suprema	
	.remodal(data-remodal-id="modal10")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/suprema.jade
	//Artist Mecca
	.remodal(data-remodal-id="modal11")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/artist-mecca.jade
	//Unicentro Navidad
	.remodal(data-remodal-id="modal12")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/unicentro-navidad.jade
	//The Record Lovers	
	.remodal(data-remodal-id="modal13")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/TRL.jade	
	//A la postre
	.remodal(data-remodal-id="modal14")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/a-la-postre.jade
	//Helena Caballero	
	.remodal(data-remodal-id="modal15")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/helena-caballero.jade
	//	Laura y la maquina de escribir
	.remodal(data-remodal-id="modal16")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/laura-maquina.jade
	// 	La maquina del tiempo
	.remodal(data-remodal-id="modal17")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/maquina-tiempo.jade
	//	Postproduccion
	.remodal(data-remodal-id="modal18")
		button.remodal-close(data-remodal-action="close")
		include sliders_jade/postproduccion.jade							
