.portfolioContainer.row.margin
	//01 Hospital
	.col.l3.m3.3D.video-animation.separation.image-position
		a(href="#modal", data-remodal-target="modal1")
			span.roll.text-overlay
				h5.title-description-top Hospital Universitario
				p.title-description-bottom 3D / Video / Animación
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/01-Hosp-meredi-3D.jpg", alt="image")
	.col.l3.m3.graphic-design.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal2")
			span.roll.text-overlay
				h5.title-description-top Libro «Hambre»
				p.title-description-bottom Diseño / Post / Editorial
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/02-Libro-hambre.jpg", alt="image")
	.col.l3.m3.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal3")
			span.roll.text-overlay
				h5.title-description-top Bodytech
				p.title-description-bottom Postproducción
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/03-Bodytech.jpg", alt="image")
	.col.l3.m3.brand.ilustration.separation.image-position
		a(href="#modal", data-remodal-target="modal4")
			span.roll.text-overlay
				h5.title-description-top Hacienda Santa Ana
				p.title-description-bottom Ilustración / Marca
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/04-Hacienda-santaAna.jpg", alt="image")					
	.col.l3.m3.ilustration-graphic-deisgn.separation.image-position
		a(href="#modal", data-remodal-target="modal5")
			span.roll.text-overlay
				h5.title-description-top Areandina
				p.title-description-bottom Ilustración / Editorial / Diseño
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/05-Areandina.jpg", alt="image")
	.col.l3.m3.graphic-design.photografy.ilustration.separation.image-position
		a(href="#modal", data-remodal-target="modal6")
			span.roll.text-overlay
				h5.title-description-top Pinturas Corona
				p.title-description-bottom Post / Ilustración
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/06-pinturas-corona.jpg", alt="image")
	.col.l3.m3.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal7")
			span.roll.text-overlay
				h5.title-description-top Sierra Nevada
				p.title-description-bottom Postproducción
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/07-Sierra-Nevada.jpg", alt="image")
	.col.l3.m3.brand.ilustration.product-design.separation.image-position
		a(href="#modal", data-remodal-target="modal8")
			span.roll.text-overlay
				h5.title-description-top Vital Advance Labs
				p.title-description-bottom Diseño / Ilustración / Marca
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/08-Vital-advance-labs-Teiku.jpg", alt="image")
	.col.l3.m3.photografy.ilustration.separation.image-position
		a(href="#modal", data-remodal-target="modal9")
			span.roll.text-overlay
				h5.title-description-top Toshiro
				p.title-description-bottom Postproducción / Ilustración
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/09-Toshiro.jpg", alt="image")
	.col.l3.m3.product-design.separation.image-position
		a(href="#modal", data-remodal-target="modal10")
			span.roll.text-overlay
				h5.title-description-top La Suprema
				p.title-description-bottom Diseño de producto
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/10-Suprema.jpg", alt="image")
	.col.l3.m3.graphic-design.brand.ilustration.separation.image-position
		a(href="#modal", data-remodal-target="modal11")
			span.roll.text-overlay
				h5.title-description-top Artist Mecca
				p.title-description-bottom Marca / Ilustración
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/11-Artist-Mecca.jpg", alt="image")
	.col.l3.m3.ilustration.separation.image-position
		a(href="#modal", data-remodal-target="modal12")
			span.roll.text-overlay
				h5.title-description-top Unicentro Navidad
				p.title-description-bottom 3D / Ilustración
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/12-Unicentro-navidad.jpg", alt="image")					
	.col.l3.m3.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal13")
			span.roll.text-overlay
				h5.title-description-top The Record Lovers
				p.title-description-bottom Fotografía
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/13-The-record-lovers.jpg", alt="image")
	.col.l3.m3.graphic-design.brand.separation.image-position
		a(href="#modal", data-remodal-target="modal14")
			span.roll.text-overlay
				h5.title-description-top A La Postre
				p.title-description-bottom Marca / Diseño / Ilustración
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/14-a-la-postre.jpg", alt="image")
	.col.l3.m3.apps-web.brand.separation.image-position
		a(href="#modal", data-remodal-target="modal15")
			span.roll.text-overlay
				h5.title-description-top Helena Caballero
				p.title-description-bottom Web
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/15-Helena-Caballero-Web.jpg", alt="image")
	.col.l3.m3.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal16")
			span.roll.text-overlay
				h5.title-description-top Laura y la máquina de escribir
				p.title-description-bottom Fotografía
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/16-Laura-y-la-maquina-de-escribir.jpg", alt="image")
	.col.l3.m3.3D.video-animation.separation.image-position
		a(href="#modal", data-remodal-target="modal17")
			span.roll.text-overlay
				h5.title-description-top La máquina del tiempo
				p.title-description-bottom 3D / Video / Animación
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/17-La-maquina-del-tiempo.jpg", alt="image")
	.col.l3.m3.photografy.separation.image-position
		a(href="#modal", data-remodal-target="modal18")
			span.roll.text-overlay
				h5.title-description-top Postproducción
				p.title-description-bottom para fotografos y artístas
				i.fa.fa-plus.fa-2x.center
			img.responsive-img(src="img/thumbs/18-Post-para-artistas.jpg", alt="image")