.portfolioContainer.margin
	.video-animation.separation.image-position
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/01-Hosp-meredi-3D.jpg", alt="image")
	.graphic-design.photografy.separation.image-position
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/02-Libro-hambre.jpg", alt="image")
	.photografy.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/03-Bodytech.jpg", alt="image")
	.brand.ilustration.separation.image-position
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/04-Hacienda-santaAna.jpg", alt="image")					
	.ilustration-graphic-deisgn.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/05-Areandina.jpg", alt="image")
	.graphic-design.photografy.ilustration.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/06-pinturas-corona.jpg", alt="image")
	.photografy.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/07-Sierra-Nevada.jpg", alt="image")
	.brand.ilustration.product-design.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/08-Vital-advance-labs-Teiku.jpg", alt="image")
	.photografy.ilustration.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/09-Toshiro.jpg", alt="image")
	.product-design.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/10-Suprema.jpg", alt="image")
	.graphic-design.brand.ilustration.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/11-Artist-Mecca.jpg", alt="image")
	.ilustration.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/12-Unicentro-navidad.jpg", alt="image")					
	.photografy.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/13-The-record-lovers.jpg", alt="image")
	.graphic-design.brand.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/14-a-la-postre.jpg", alt="image")
	.apps-web.brand.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/15-Helena-Caballero-Web.jpg", alt="image")
	.photografy.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/16-Laura-y-la-maquina-de-escribir.jpg", alt="image")
	.video-animation.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/17-La-maquina-del-tiempo.jpg", alt="image")
	.photografy.separation
		a(href="#")
			span.roll
			img.responsive-img(src="img/thumbs/18-Post-para-artistas.jpg", alt="image")